@charset "utf-8";
html,body{
    padding: 0px;
    margin: 0;
}
body{
    background: linear-gradient(#082f49,#172554);
}
#particles-js{
    overflow: hidden;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
}
#header{
    transition: 500ms;
    overflow: hidden;
    position: absolute;
    background-color: #ffffffa6;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 350px;
    height: 300px;
    max-width: calc(100vw - 20px);
    border-radius: 12px;
    text-align: center;
    border: 1px solid #fff;
}
.u-name{
    font-size: 30px;
    margin-top: 16px;
    margin-bottom: 0;
    font-weight: bold;
    color: #111827;
    font-family: "Play", sans-serif;
}
#contact-btn{
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    border-radius: 6px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0c4a6e;
    color: #fff;
    transition: 200ms;
    border: unset;
    cursor: pointer;
}
#contact-btn:hover{
    box-shadow: 0px 0px 10px #00000080;
}
#scrl-btn{
    transition: 200ms;
    border-radius: 2px;
    background-color: #dbeafe;
    border: unset;
    padding: 0;
    cursor: default;
}
#main{
    transition: 500ms;
    overflow-y: scroll;
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    color: #fff;
    opacity: 0;
    pointer-events: none;
}
article{
    position: absolute;
    left: 20%;
    width: calc(50% - 15rem);
    background-color: #d8f3ffcc;
    min-height: 100%;
    height: fit-content;
    top: 0px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding-left: 10rem;
    padding-right: 5rem;
    font-family: "Shippori Antique", sans-serif;
}
article hr{
    border: unset;
    border-bottom: 1px solid #000 !important;
}
article #title{
    font-size: 40px;
    text-align: center;
    color: #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
article h1{
    font-size: 30px;
    font-weight: bold;
    color: #0c4a6e;
}
article p{
    font-size: 20px;
    color: #374151;
    margin-left: 1rem;
}
article .sns{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
article .sns img{
    height: 48px;
    width: 48px;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 16px;
}
article .sns div{
    position: relative;
}
article .sns div::after{
    position: absolute;
    width: fit-content;
    bottom: calc(100% + 0.5rem);
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000bb;
    color: #ffffff;
    padding-top: 0.25em;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.25em;
    display: none;
}
article .sns div:hover::after{
    display: block;
}
article .sns div[aria-label="youtube"]::after{
    content: "YouTube";
}
article .sns div[aria-label="niconico"]::after{
    content: "niconico";
}
article .sns div[aria-label="twitter"]::after{
    content: "Twitter";
}
article .sns div[aria-label="github"]::after{
    content: "GitHub";
}
article .sns div[aria-label="discord"]::after{
    content: "Discord";
}
article .th{
    margin-left: 1rem;
    /* overflow: scroll;
    height: 300px;
    border: 2px solid #616161;
    border-radius: 15px;
    padding: 1rem; */
}
article .th::-webkit-scrollbar{
    display: none;
    width: 5px;
}
article .th div+div{
    border-top: 1px solid #3a3a3a;
}
article .th div{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 128px 1fr;
    grid-template-rows: 128px;
}
article .th div img{
    width: 128px;
    height: 128px;
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #000;
}
article .th span{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 2rem;
    width: fit-content;
}
article .th span label{
    display: inline-block;
    position: relative;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
article .th span label::after{
    padding: 0.3rem;
    border-radius: 0.3rem;
    outline: 0.2rem solid #c0c0c0;
    transition: 250ms;
}
/* article .th span label:hover::after{
    box-shadow: 0px 0px 1rem #00000071;
    outline: 0.2rem solid #929292;
} */
article .th span label[aria-label="easy"]::after{
    content: "Easy";
    background-color: #22c55e;
}
article .th span label[aria-label="normal"]::after{
    content: "Normal";
    background-color: #1d4ed8;
}
article .th span label[aria-label="hard"]::after{
    content: "Hard";
    background-color: #991b1b;
}
article .th span label[aria-label="lunatic"]::after{
    content: "Lunatic";
    background-color: #5b21b6;
}
article .th span label[aria-label="extra"]::after{
    content: "Extra";
    background-color: #dc2626;
}
aside{
    left: 70%;
    width: 17.5%;
    padding-left: 2.5%;
    /* background-color: #000; */
    min-height: 100%;
    height: fit-content;
    position: absolute;
    top: 0px;
}
aside iframe div{
    width: 100%;
}
@media screen and (max-width:500px) {
    article{
        width: 95%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        margin: 0;
        left: 0;
    }
    aside{
        display: none;
    }
}