@charset "utf-8";
@font-face {
    font-family: "Corporate-Logo-Medium";
    src: url("https://kelpoftruth.com/assets/Corporate-Logo-Medium-ver3.otf");
}
@font-face {
    font-family: "Corporate-Logo-Bold";
    font-weight: bold;
    src: url("https://kelpoftruth.com/assets/Corporate-Logo-Bold-ver3.otf");
}
html{
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}
html,body{
    padding: 0;
    margin: 0;
    font-size: 18px;
}
body,header,article,a,input{
    font-family: "Coporate-Logo-Medium", "IBM Plex Sans JP", sans-serif;
    font-optical-sizing: auto;
    color: var(--font);
}
::-webkit-scrollbar{
    display: none;
    width: 0px;
    height: 0px;
}
#scrollbar{
    display: none;
    position: fixed;
    height: 100svh;
    width: 8px;
    padding: 5px;
    z-index: 2000000000;
    right: 0px;
    top: 0px;
}
#scrollbar #scrolltrack{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 8px;
    position: absolute;
    height: 50px;
    background-color: var(--b-1);
    opacity: 0;
    transition: opacity 150ms linear;
    border-radius: 1px;
}
#scrollbar #scrolldialog{
    position: fixed;
    width: 100svw;
    height: 100svh;
    left: 0px;
    top: 0px;
    z-index: 1;
}
header{
    z-index: 10000;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100svw;
    background-color: var(--back);
    border-bottom: 2px solid var(--b-3);
}
.div-h{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    /* margin: auto; */
}
.h-title{
    font-family: "Oxanium", sans-serif;
    font-size: 28px;
    margin-left: 2em;
    line-height: 1em;
}
.h-nav{
    justify-self: center;
    margin-left: 5em;
    display: flex;
    justify-content: center;
    height: max-content;
    gap: 1em;
}
.h-nav .h-link{
    display: inline;
    position: relative;
    width: 5em;
    text-align: center;
}
.h-nav .h-link::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 80%;
    height: 2px;
    width: 100%;
    z-index: -1;
    background-color: var(--b-2);
    transition: top 150ms;
    opacity: 0;
    box-shadow: 0px -3px 3px var(--b-3);
}
.h-nav .h-link a:focus-visible{
    outline: none;
}
.h-nav .h-link:has(a:focus)::before{
    top: calc(100% + 3px);
    opacity: 1;
}
.h-nav .h-link a{
    text-decoration: unset;
}
.h-right{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: auto;
    margin-right: 1rem;
    appearance: none;
}
.h-right #theme-change{
    margin-right: 24px;
    cursor: pointer;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: 50px;
    height: 30px;
    background-color: var(--theme-change);
    outline: 1px solid var(--b-3);
    border-radius: 100vmax;
}
.h-right #theme-change::after{
    content: "light_mode";
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    position: absolute;
    margin-left: 0px;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    border-radius: 100vmax;
    background-color: var(--b-5);
    transition: 250ms left;
}
.h-right #theme-change:checked::after{
    content: "dark_mode";
    left: 22px;
}
.h-right .search{
    display: flex;
    align-items: center;
    outline: 1px solid var(--b-3);
    padding: 2px;
    border-radius: 100vmax;
}
.h-right .search-icon{
    margin-top: 4px;
    font-size: 22px;
    margin-left: 5px;
    margin-right: 3px;
    cursor: default;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-drag: none;
}
.h-right #search{
    font-size: 16px;
    background-color: transparent;
    border: unset;
    width: 8em;
}
.h-right #search:focus-visible{
    outline: unset;
}
.h-right .search-box{
    margin-right: 20px;
    display: inline;
    position: relative;
    width: fit-content;
    height: fit-content;
}
.h-right .search-box::after{
    content: "";
    height: 1px;
    width: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: var(--b-0);
    margin-left: auto;
    margin-right: auto;
    transition: width 150ms;
}
.h-right .search-box:has(input:focus-visible)::after{
    width: 100%;
}
.mobile-menu{
    line-height: 0px;
    position: absolute;
    right: 0px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
#menu-btn{
    line-height: 0px;
    cursor: pointer;
    display: none;
    position: relative;
    margin-left: auto;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0px;
}
#menu-btn .menu-bar{
    line-height: 0px;
    position: absolute;
    background-color: var(--b-0);
    width: 20px;
    height: 2px;
    left: 5px;
    transition: 250ms ease-in-out;
}
#menu-btn .menu-bar:nth-child(1){
    top: 9px;
}
#menu-btn .menu-bar:nth-child(2){
    top: 19px;
}
#menu-btn.open .menu-bar:nth-child(1){
    top: 14px;
    rotate: -45deg;
}
#menu-btn.open .menu-bar:nth-child(2){
    top: 14px;
    rotate: 45deg;
}

main{
    background-color: var(--back);
}
main article{
    min-height: 100svh;
    width: 60svw;
    margin-left: 20svw;
    padding-bottom: 5rem;
    line-height: 2em;
}
article .tags{
    padding-left: 0;
    margin-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;
}
article .tags .tag{
    background-color: var(--font);
    padding: 0.25em;
    border-radius: 5px;
    line-height: 1em;
}
article .tags .tag a{
    color: var(--back);
    text-decoration: none;
    text-wrap: nowrap;
}
main footer{
    width: 100svw;
    background-color: var(--f-back);
    color: var(--b-2);
    text-align: center;
    padding-top: 3em;
    padding-bottom: 2em;
}
main footer a{
    color: var(--b-2);
}
main footer .footer-link{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 32px;
}
main footer .footer-link svg{
    height: 32px;
    width: 32px;
    fill: var(--b-2);
}

article blockquote{
    position: relative;
    padding-left: 1rem;
    margin-left: 0;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
article blockquote::before{
    content: "";
    position: absolute;
    width: 0.25rem;
    height: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    left: 0px;
    top: -0.25rem;
    background-color: var(--b-3);
    border-radius: 0.1rem;
}
article table{
    border-collapse: collapse;
    max-width: 100%;
    display: block;
    overflow-x: scroll;
}
article table th,article table td{
    border: 1px solid var(--font);
    padding: 0.25rem;
}
article img{
    display: block;
    max-width: 80%;
    margin: 10%;
}
article code{
    font-family: Inconsolata;
    background-color: #91919147;
    padding: 0.15em;
    border-radius: 0.3em;
    margin: 0.15em;
}
article code.hljs{
    outline: 1px solid var(--b-4);
    border-radius: 10px;
}



@media (hover: hover){
    #scrollbar{
        display: block;
    }
    .h-nav .h-link:has(a:hover)::before{
        top: calc(100% + 3px);
        opacity: 1;
    }
}
.h-mobile{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 100svh) {
    #menu-btn{
        display: inline;
    }
    .h-mobile{
        z-index: 1000;
        background-color: var(--back);
        position: absolute;
        flex-direction: column;
        width: 100svw;
        overflow: hidden;
        height: 0px;
        text-align: center;
        border-bottom: 1px solid var(--b-3);
        transition: height 250ms linear;
    }
    .h-mobile.open{
        height: 100svh;
    }
    .div-h{
        flex-direction: column;
        justify-content: center;
    }
    .h-right{
        right: auto;
        margin-top: 40px;
        /* margin-right: 0; */
    }
    .h-nav{
        padding-bottom: 40px;
        margin: 0;
        margin-top: 100px;
    }
    .h-nav{
        flex-direction: column;
    }
    .h-title{
        /* font-size: 28px; */
    }
    .h-title{
        margin-left: 1em;
        margin-right: auto;
    }
    main article{
        width: 90svw;
        margin-left: 5svw;
    }
    main article img{
        max-width: 90%;
        margin: 5%;
    }
}
