@charset "utf-8";
@font-face {
    font-family: Inconsolata;
    src: url(./Inconsolata-Medium.ttf);
}
/* ::-webkit-scrollbar{
    display: none;
} */
/* Firefox */
::selection{
    background-color: #fff;
    color: #000;
}
html,body{
    scrollbar-width: thin;
    scrollbar-color: #494949 #F2FDFF;
    margin: 0;
    padding: 0px;
    background-color: #000;
}
img{
    -webkit-user-drag: none;
}
#wallpaper{
    background-color: #000;
    height: 100vw;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}
#console{
    min-height: calc(100% - 10px);
    width: 100%;
    height: fit-content;
    position: absolute;
    left: 0px;
    top: 0px;
    padding-bottom: 10px;
}
#inputs{
    margin-left: 10px;
    margin-top: 10px;
    cursor: default;
    font-size: 20px;
    /* font-size: 80px; */
    font-family: Inconsolata;
}
#inputs ul{
    list-style: none;
}
.plane-txt{
    color: #fff;
}
.cmd-line{
    color: #fff;
}
.cmd-line::before{
    content: ">";
    /* position: absolute; */
    left: 0px;
    color: #fff;
    margin-right: 10px;
    font-weight: 800;
}
#txt-cursor{
    position: absolute;
    height: 5px;
    width: 10px;
    /* height: 20px;
    width: 40px; */
    background-color: #ffffff;
    animation: 1000ms txt-crsr-anim infinite;
}
#txt-cursor.active{
    animation: none;
}
@keyframes txt-crsr-anim {
    0%{
        background-color: #fff;
    }
    49%{
        background-color: #fff;
    }
    50%{
        background-color: #ffffff00;
    }
    100%{
        background-color: #ffffff00;
    }
}
#mbil-input{
    display: block;
    width: fit-content;
    height: 0px;
    padding: 0px;
    border: none;
    position: absolute;
    left: 30px;
}